* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgb(9, 14, 76);
  display: flex;
  align-items: center;
  /* gap: 55rem; */
  height: 50px;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}
.logo {
  color: #0ff;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
}
.logo:hover {
  text-shadow: 2px 2px 2px;
  text-decoration: underline;
}
li {
  list-style-type: none;
  display: inline;
  color: #0ff;
  padding: 5px;
 
}
a {
  text-decoration: none;
  color: #0ff;
  padding: 5px;
}
li a:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition:  all 1s ease-in-out;
}

.bcg {
  background-image: url(as-on-passport-young-man-with-stylish-haircut-glasses-blue-eyes-look-straight-serious-and-self-collected-dressed-in-white-shirt-and-blue-tie-unshaven-over-white-background-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  text-align: center;
  padding: 200px;
  
}
.btn {
  background-color: #0ff;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.btn:hover {
  box-shadow: 2px 2px 2px 2px rgba(104, 224, 248, 0.4);
  cursor: pointer;
}
.menu {
  background-color: rgb(9, 14, 76);
  height: 1590px;
  text-align: center;
  color: #fff;
}
.menu img {
  height: 150px;
  width: 150px;
  border: 5px solid #0ff;
  border-radius: 50%;
  margin: 7px;
}
.menu img:hover {
  transform: scale(1.1);
}
.resume {
  padding: 7px;
  margin: 7px;
  border: 3px solid #0ff;
  background-color: rgb(9, 14, 76);
  color: #0ff;
}
.resume:hover {
  color: black;
  background-color: #0ff;
}
.box {
  background-color: #33294d;
  display: inline-block;
  gap: 2rem;
  padding: 10px;
  margin: 10px;
  align-items: center;
}
.box:hover {
  transform: translatey(-10px);
  box-shadow: 0 4px 4px 4px rgba(29, 75, 141, 0.4);
}
.all-1 {
  height: 170px;
  width: 140px;
  border-radius: 10px;
  padding: 10px 2px;

}
.all-2 {
  height: 170px;
  width: 140px;
  border-radius: 10px;
  padding: 10px 2px;
}

.all-3 {
  height: 170px;
  width: 140px;
  border-radius: 10px;
  padding: 10px 2px;
}
.all-4 {
  height: 170px;
  width: 140px;
  border-radius: 10px;
  padding: 10px 2px;
}

.project-1 {
  height: 170px;
  width: 160px;
  border-radius: 10px;
}
.project-2 {
  height: 170px;
  width: 160px;
  border-radius: 10px;
}
.project-3 {
  height: 170px;
  width: 160px;
  border-radius: 10px;
}
.form {
  display: block;
  padding: 10px;
  margin: 10px;
}
.form-1 {
  margin: 10px;
  background-color: #33294d;
  border: none;
  padding: 10px;
  width: 250px;
  color: #fff;
  border-radius: 2px;
}
.form-1:hover {
  border: 2px solid #0ff;
}

.form-2 {
  margin-bottom: 10px;
  background-color: #33294d;
  border: none;
  padding: 10px;
  width: 250px;
  color: #fff;
  border-radius: 2px;
}
.form-2:hover {
  border: 2px solid #0ff;
}
textarea {
  background-color: #33294d;
  border: none;
  padding: 10px;
  width: 250px;
  color: #fff;
  border-radius: 2px;
}
.btn-send {
  background-color: #0ff;
  border: none;
  padding: 10px;
}
.skill {
  margin-top: 100px;
  margin-bottom: 15px;
}
.project {
  margin-top: 100px;
  margin-bottom: 15px;
}
.contact {
  margin-top: 100px;
  margin-bottom: 30px;
}
.push img {
  border: none;
  height: 10px;
}
